PORT = 5000
MONGO_URI=mongodb+srv://<db_user_name>:<password>@cluster0.r8iu7ke.mongodb.net/
ACCESS_TOKEN_SECRET=generate-your-long-acces-secrete-key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=generate-your-long-refresh-secrete-key
REFRESH_TOKEN_EXPIRY=10d
NODE_ENV=development

MAIL_USER=Your-Mail
MAIL_PASS=Your-Mail-Password